/*---------------------------
General Layout ("Box-Layout")
---------------------------*/

#container {
    width: 644px;
    height: 672px;
    margin: 0 auto;
    padding: 10px 20px 25px 20px;
}

#topbar {
    width: 600px;
    height: 220px;
    margin: 0;
    padding-top: 5px;
}

#menu {
    width: 600px;
    height: 35px;
    margin: 0;
}

#content {
    width: 600px;
    height: 382px;
    margin: 0px;
}

#maincontent {
    float: left;
    width: 368px;
}

#subcontent {
    float: left;
    width: 228px;
    border-left: 1px dashed #7b6f61;
}

#bottomcontent {
    clear: both;
}

/*---------------------
Coloring and typography
---------------------*/

#container {
    background-color: #fbfaf6;
}

#topbar {
    background-color: #51473d;
    color: #eae8d3;
    font-family: "Verdana", "Arial", sans-serif;
    font-style: italic;
    font-size: 0.6em;
    text-align: right;
}

#menu {
    background-color: #51473d;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
}

#content {
    background-color: #eae8d3;
    color: #7b6f61; /* #797768, #767060 */
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 1.3em;
}

h1, h2 {
    font-family: "Times New Roman", "Times", serif;
}

#maincontent {
    font-size: 0.8em;
}

#subcontent {
    font-size: 0.6em;
}

#bottomcontent {
    font-style: italic;
    font-size: 0.6em;
}

/*-----------
SPECIAL CASES
-----------*/

/*-------------
Menu Format
-------------*/

#menu > a:first-child {
    visibility: hidden;
}

#menu ul {
    float: left;
    width: 490px;
    height: 30px;
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
}

#menu li {
    display: inline;
}

#menu li a {
    float: left;
    text-decoration: none;
    background-color: #7b6f61;
    color: #eae8d3;
    padding: 10px 20px;
    border-left: 1px solid #51473d;
}

#menu li a:hover {
    background-color: #9c9084;
}

#menu .active {
    background-color: #eae8d3;
    color: #7b6f61;
}

/*--------------------------
Content links pseudo classes
--------------------------*/

#content ul {
    list-style-type: none;
}

#content a:link {
    color: #51473d;
    font-weight: bold;
}

#content a:visited {
    color: #51473d;
    font-weight: bold;
}

#content a:focus {
    color: #51473d;
    font-weight: bold;
    border: 1px solid orange;
}

#content a:hover {
    color: #51473d;
    font-weight: bold;
}

#content a:active {
    color: #51473d;
    font-weight: bold;
}

/*--
Pics
--*/

#maincontent img {
    float: left;
    margin-right: 10px;
}

#topbar {
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-size: 600px 200px;
    background-position: bottom;
}