/*---------------------------
General Layout ("Box-Layout")
---------------------------*/
body {
    margin: 0;
}

#container {
    width: 600px;
    height: 630px;
    margin: 0 auto;
    padding: 10px 20px 25px 20px;
}

#topbar {
    width: 600px;
    height: 215px;
    margin: 0px;
    padding-top: 5px;
    border-top: 1px solid #cccabd;
    border-left: 1px solid #cccabd;
    border-right: 1px solid #cccabd;
}

#menu {
    width: 600px;
    height: 30px;
    padding-top: 5px;
    margin: 0px;
    border-left: 1px solid #cccabd;
    border-right: 1px solid #cccabd;
}

#content {
    width: 580px;
    height: 345px;
    margin: 0px;
    padding: 20px 10px 15px 10px;
    border-left: 1px solid #cccabd;
    border-right: 1px solid #cccabd;
    border-bottom: 1px solid #cccabd;
}

#maincontent {
    float: left;
    width: 348px;
    padding-right: 10px;
    border-right: 1px dashed #cccabd;
}

#subcontent {
    float: left;
    width: 210px;
    padding-left: 10px;
}

#bottomcontent {
    padding-top: 5px;
    clear: both;
}

/*---------------------
Coloring and typography
---------------------*/

#container {
    background-color: #fbfaf6;
}

#topbar {
    background-color: #51473d;
    color: #eae8d3;
    font-family: "Verdana", "Arial", sans-serif;
    font-style: italic;
    font-size: 0.6em;
    text-align: right;
    font-weight: lighter;
}

#menu {
    background-color: #51473d;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
}

#content {
    background-color: #eae8d3;
    color: #797166;
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 1.3em;
}

#maincontent {
    font-size: 0.8em;
}

#subcontent {
    font-size: 0.6em;
}

#subcontent h1, #subcontent h2 {
    color: #7b6f61;
}

#bottomcontent {
    font-style: italic;
    font-size: 0.6em;
}

h1, h2 {
    font-family: "Times New Roman", "Times", serif;
    padding-top: 10px;
}

h1, h2, p {
    font-weight: lighter;
}

#maincontent p, h2{
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
}

/*-----------
SPECIAL CASES
-----------*/

/*-------------
Menu Format
-------------*/

#menu > a:first-of-type {
    float: right;
    visibility: hidden;
}

#menu ul {
    float: left;
    width: 490px;
    height: 30px;
    padding-left: 10px;
    margin: 0px;
    list-style-type: none;
}

#menu li {
    display: inline;
}

#menu li a {
    text-transform: capitalize;
    float: left;
    padding: 7px 20px 8px 20px;
    text-decoration: none;
    background-color: #797166;
    color: #eae8d3;
    border-left: 1px solid #51473d;
}

#menu li a:hover {
    background-color: #9c9084;
}

#menu ul .active a {
    background-color: #eae8d3;
    color: #7b6f61;
}

/*--------------------------
Content links pseudo classes
--------------------------*/

#content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#content a:link {
    color: #51473d;
}

#content a:visited {
    color: #51473d;
}

#content a:focus {
    color: #51473d;
    border: 1px solid orange;
}

#content a:hover {
    color: #51473d;
}

#content a:active {
    color: #51473d;
}

/*--
Pics
--*/

#maincontent img {
    float: left;
    margin-right: 5px;
}

#topbar {
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-size: 600px 200px;
    background-position: bottom;
}